
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }.main-body {
    display: inline-block;
    vertical-align:top;
    width: 48%; 
}
#body-cont-one
{
    margin-left: 5vh;
    margin-top: 0%;
}

#body-cont-two {       
    text-align: center;
    margin-top: 15vh;  
    /* margin-left: 0;   */
}
#body-cont-two .sentence
{
    font-size: 76px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgb(0, 119, 46);
}
#body-cont-two
{
    font-size: medium;
    font-family:fantasy;
    color: rgb(13, 51, 53);
} 
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#about
{
    background-color: rgb(202, 234, 234);
    color: #2e08ed;
    font-size: larger;
    
   
  }
  #about h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #about p
  {
    margin: 0%;
    padding-bottom:0%;
    padding-top:0%;
    padding-left: 4vh;
    padding-right: 4vh;
  }
  .appointment {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
  }
  
  .appointment .btn {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .appointment .btn:hover {
    background-color: #0056b3;
  }
  

  


footer {
 
    position: sticky;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  footer {
    display: flex;
  }
  
  .parent {
    flex: 1;
    margin-left: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  .footer-span {
    display: block;
  }
  
  .parent ul {
    list-style: none;
    padding: 0;
  }
  
  .parent  li {
    text-decoration: none;
    margin-bottom: 1vh;
  }
  .parent a {
    text-decoration: none;
    color: #fff;
  }
  .parent a:hover
  {
    color: #cb1818;
  }
   